src/views/index.pug
extends ./layout

block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PrimeSpot
    link(rel='stylesheet' href='static/main.css')
    link(rel='icon' href='images/logo.gif' type='image/ico' sizes='16x16')

block content
    header
        img(src='images/book_logo.jpeg' alt='Book store logo' height='80')
        h2 PrimeSpot
        h3 Browse our shelves... Gain more knowledge
        a.nav-link.userlogin(href='/auth/login') Sign in
    main
        section
            h2 Order online
            form(id="placeOrder" name='OrderForm' method="post" action="/order")

                div.form-group
                    label(for="UserName") Name*:
                    input(id="username" name='username' type='text')
                    if errors && errors.username
                        span.error= errors.username.message

                div.form-group
                    label(for="email") Email*:
                    input(id="email" name="email" type="email" placeholder='test@test.com')
                    if errors && errors.email
                        span.error= errors.email.message

                div.form-group
                    label(for="phone") Phone*:
                    input(id="phone" name='phone' type='text' placeholder='xxx-xxx-xxxx')
                    if errors && errors.phone
                        span.error= errors.phone.message

                div.form-group
                    label(for="address") Address*:
                    input(id="address" name="address" type="text")
                    if errors && errors.address
                        span.error= errors.address.message

                div.form-group
                    label(for="city") City*:
                    input(id="city" name="city" type="text")
                    if errors && errors.city
                        span.error= errors.city.message

                div.form-group
                    label(for="postal") Post Code*:
                    input(id="postal" name="postal" placeholder='X9X X9X' type="text")
                    if errors && errors.postal
                        span.error=errors.postal.message

                div.form-group
                    label(for="province") Province*:
                    select(id="province" name="province")
                        option(value="AB") Alberta
                        option(value="BC") British Columbia
                        option(value="MB") Manitoba
                        option(value="NB") New Brunswick
                        option(value="NL") Newfoundland and Labrador
                        option(value="NS") Nova Scotia
                        option(value="NT") Northwest Territories
                        option(value="NU") Nunavut
                        option(value="ON" selected) Ontario
                        option(value="PE") Prince Edward Island
                        option(value="SK") Saskatchewan
                        option(value="QC") Quebec
                        option(value="YT") Yukon
                    if errors && errors.province
                        span.error= errors.province.message

                div.form-group
                    label(for="product1") Book 1 @ $8.99:
                    input.product-group(id="product1" name="product1" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product2") Book 2 @ $22.99:
                    input.product-group(id="product2" name="product2" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product3") Book 3 @ $19.50:
                    input.product-group(id="product3" name="product3" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="product4") Book 4 @ $15.00:
                    input.product-group(id="product4" name="product4" type="number" placeholder="Enter a number")

                div.form-group
                    label(for="delivery") Delivery Time:
                    select(id="delivery" name="delivery")
                        option(value="d1") 1 Day
                        option(value="d2") 2 Days
                        option(value="d3" selected) 3 Days
                        option(value="d4") 4 Days

                if errors && errors.common
                    span.error= errors.common.message

                input(type="submit" name='button' value="Place Order")

    aside
        h1 Today's Deal
        h3
            | Book 1
            br
        img(src='images/book1.PNG' alt='Book1')
        img.imgText(src='images/book1_text.PNG' alt='Book1_text')
        h3
            | Book 2
            br
        img(src='images/book2.PNG' alt='Book2')
        img.imgText(src='images/book2_text.PNG' alt='Book2_text')
        h3
            | Book 3
            br
        img(src='images/book3.PNG' alt='Book3')
        img.imgText(src='images/book3_text.PNG' alt='Book3_text')
        h3
            | Book 4
            br
        img(src='images/book4.PNG' alt='Book4')
        img.imgText(src='images/book4_text.PNG' alt='Book4_text')

block footer
    p &copy; 2020, PrimeSpot, Fresno, CA 93755

src/views/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>PrimeSpot</title>
    <link href="static/main.css" rel="stylesheet">
    <link href="images/logo.gif" rel="icon" sizes="16x16" type="image/ico">
</head>
<body>
<header><img alt="Book store logo" height="80" src="images/book_logo.jpeg">
    <h2>PrimeSpot</h2>
    <h3>Browse our shelves... Gain more knowledge</h3><a class="nav-link userlogin" href="/auth/login">Sign in</a>
</header>
<main>
    <section><h2>Order online</h2>
        <form action="/order" id="placeOrder" method="post" name="OrderForm">
            <div class="form-group"><label for="UserName">Name*:</label><input id="username" name="username"
                                                                               type="text"></div>
            <div class="form-group"><label for="email">Email*:</label><input id="email" name="email" placeholder="test@test.com"
                                                                             type="email"></div>
            <div class="form-group"><label for="phone">Phone*:</label><input id="phone" name="phone" placeholder="xxx-xxx-xxxx"
                                                                             type="text"></div>
            <div class="form-group"><label for="address">Address*:</label><input id="address" name="address"
                                                                                 type="text"></div>
            <div class="form-group"><label for="city">City*:</label><input id="city" name="city" type="text"></div>
            <div class="form-group"><label for="postal">Post Code*:</label><input id="postal" name="postal"
                                                                                  placeholder="X9X X9X" type="text">
            </div>
            <div class="form-group"><label for="province">Province*:</label><select id="province" name="province">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option selected value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="SK">Saskatchewan</option>
                <option value="QC">Quebec</option>
                <option value="YT">Yukon</option>
            </select></div>
            <div class="form-group"><label for="product1">Book 1 @ $8.99:</label><input class="product-group"
                                                                                        id="product1" name="product1"
                                                                                        placeholder="Enter a number"
                                                                                        type="number">
            </div>
            <div class="form-group"><label for="product2">Book 2 @ $22.99:</label><input class="product-group"
                                                                                         id="product2" name="product2"
                                                                                         placeholder="Enter a number"
                                                                                         type="number">
            </div>
            <div class="form-group"><label for="product3">Book 3 @ $19.50:</label><input class="product-group"
                                                                                         id="product3" name="product3"
                                                                                         placeholder="Enter a number"
                                                                                         type="number">
            </div>
            <div class="form-group"><label for="product4">Book 4 @ $15.00:</label><input class="product-group"
                                                                                         id="product4" name="product4"
                                                                                         placeholder="Enter a number"
                                                                                         type="number">
            </div>
            <div class="form-group"><label for="delivery">Delivery Time:</label><select id="delivery" name="delivery">
                <option value="d1">1 Day</option>
                <option value="d2">2 Days</option>
                <option selected value="d3">3 Days</option>
                <option value="d4">4 Days</option>
            </select></div>
            <input name="button" type="submit" value="Place Order"></form>
    </section>
</main>
<aside><h1>Today's Deal</h1>
    <h3>Book 1<br></h3><img alt="Book1" src="images/book1.PNG"><img alt="Book1_text" class="imgText"
                                                                    src="images/book1_text.PNG">
    <h3>Book 2<br></h3><img alt="Book2" src="images/book2.PNG"><img alt="Book2_text" class="imgText"
                                                                    src="images/book2_text.PNG">
    <h3>Book 3<br></h3><img alt="Book3" src="images/book3.PNG"><img alt="Book3_text" class="imgText"
                                                                    src="images/book3_text.PNG">
    <h3>Book 4<br></h3><img alt="Book4" src="images/book4.PNG"><img alt="Book4_text" class="imgText"
                                                                    src="images/book4_text.PNG"></aside>
</body>
<footer><p>&copy; 2020, PrimeSpot, Fresno, CA 93755</p></footer>
</html>
